body {
    font-family: Arial, sans-serif;
    background: url('back.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: black; /* all text is white */
}

.feedback-container {
    width: 100%;
    max-width: 600px;
    border: 2px solid black; /* Black border */
    padding: 20px;
    box-sizing: border-box;
}

.feedback-form h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.feedback-form textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    background: transparent; /* Transparent background */
    border: 1px solid #0f0101; /* Light border for the text areas */
    color: black; /* White text color for the text areas */
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: lightgreen;
    color: white;
    border: black;
    padding: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
