body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #f2f2f2;
}

th {
    background-color: #3399ff;
    color: white;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
